#select-sprint-btn {
    border-radius: 2px;
}

#select-sprint-section {
    margin-left: 1em;
}

.agile-detail {
    margin-top: 0;
    padding: 10px 0 0;
}

.container-fluid {
    min-height: 100%;
}

.handle {
    cursor: move;
}

.drag-box {
    padding: 5px 10px 0;
}

.hr-line-dashed {
    margin-top: 0;
    margin-bottom: 0;
}

.home-btn-div {
    margin-top: 1.1em;
    margin-left: 1em;
    width: 5.2%;
}

.input-sprint {
    padding: 0;
    width: 5%;
}

.nav-wrapper {
    min-height: 5.5em;
}

.select-sprint {
    padding: 0;
    height: 1.8em;
    font-size: 12px;
}

.top-buffer {
    margin-top: 0.6em;
}

.ticket-assign-to {
    height: 2.6em;
    width: 100%;
    font-size: 0.8em;
    padding: 0;
}

.taskboard-progressbar {
    height: 5px;
}

.ticket-description {
    display: none;
    padding-top: 10px;
}

.ticket-summary {
    padding-bottom: 15px;
    display: block;
}

.agile-list li.success-element.changed-item {
    background-color: #ECECFF;
}