body, html {
    height: 100%;
}

#select-sprint {
    padding: 0;
    height: 1.8em;
    font-size: 12px;
}

#select-sprint-btn {
    border-radius: 2px;
}

#todo, #inprogress, #feedback, #completed {
    position:relative;
}

.agile-detail {
    margin-top: 0;
    padding: 10px 0 0;
}

.agile-list {
    padding-right: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container-fluid {
    min-height: 100%;
}

.description-btn {
    padding-top: 5px;
}

.drag-box {
    z-index: 10;
}

.fa-customsize {
    font-size: 1.2em;
}

.handle {
    cursor: move;
}

.hr-line-dashed {
    margin-top: 0;
    margin-bottom: 0;
}

.input-sprint {
    padding: 0;
}

.nav-btn {
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.new-project-btn {
    margin-top: 3%;
}

.ticket-assign-to {
    height: 2.6em;
    width: 100%;
    font-size: 0.8em;
    padding: 0;
}

.taskboard-progressbar {
    height: 5px;
}

.ticket-description {
    display: none;
    padding-top: 10px;
}

.ticket-summary {
    padding-bottom: 15px;
    display: block;
}

.agile-list li.changed-item {
    background-color: #fffcd9;
}

.wrapper-content {
    padding-bottom: 0;
}